body {
	font-family: 'Archivo Narrow', sans-serif;
}
/* above header because it's a global text setting (font styling)*/
h1 {
	margin: 0 0 0 0;
	font-size: 80px;
}

h2 {
	margin: 0;
	font-size: 30px;
}

h3 {
	margin: 0 0 32px 0;
	text-align: center;
	font-size: 40px;
}

p {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.4px;
	line-height: 1.4;
}

header {
	background-color: rgba(255,0,0,0.1);
	text-align: center;
	padding: 150px 2px 182px 0;
	background-image: url('../images/weiwei.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	color: white;
}

section > div {
	width: 960px;		
	/*background-color: rgba(0,0,255,0.1); */
	margin: auto; /*will take left and right margins and make equal */
	padding: 39px 0 0 0;
}

section.section1 {
	/*background-color: rgba(0,0,255,0.1);*/
}

.section1 img {
	float: right;
	margin-left: 35px;
	margin-bottom: 30px;
}
