/* 1 */
	margin-bottom: 3rem;
}

/* 2 */
p {
	line-height: 1.6;
}

/* 3 */
.see-all {
	font-size: .8em;
	text-transform: uppercase;
}

/* 4 */
h1 {
	font-size: 2.5rem;
	font-weight: lighter;
}

/* 5,6 */
h2 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: lighter;
}

/* 7 */
img {
	width:100%;
}

/* 8 */
section.cast li {
	width:25%;
}

/* 9 */
.shows>li {
	border-top: 1px solid black;
}

/* 10 */
.selected a {
	font-weight: bold;
	color: black;
}
/* 11 */
li div:nth-of-type(2) {
	font-size: 0.8rem;
}

/* 12 */
li div:first-of-type {
	font-weight:bold;
}

/* 13 */
li div:nth-of-type(2) {
	font-style:italic;
}

/* 14 */
#game-of-thrones li:last-of-type:after {
	content: "*";
}

/* 15 */
#game-of-thrones .seasons:after {
	content: "* Final Season";
	font-style: 0.7rem;
	color: #999;
}